<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="mySidenav" class="sidenav">
    <center>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% if user_statut == True %}
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        <a href="/recommendation">Recommendation</a>
        <a href="/preference">Préférence</a> 
        {% else %}     
        <a href="/">Home</a>
        <a href="/inscription">Inscription</a>
        <a href="/login">Login</a>
        {% endif %}
    </center>
</div>


<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        <img src={{ url_for('static', filename='logo.png') }} class="img-responsive center-block" id="Logo">
    </span>
    <center>
        <h2>Voici le detail du film</h2>
        
        {% block content %}
            <div class='film_detaille'>
                <h3>#{{ get_film[0] }} - {{ get_film[1] }}</h3>
                {% if get_film[9] != None %}
                    <img src={{ get_film[9] }} id="poster" class="img-responsive center-block", alt="poster_{{ get_film[0] }}">
                {% else %}
                    <img src={{ url_for('static', filename='image_non_trouve.jpg') }} id="poster" class="img-responsive center-block", alt="poster_{{ get_film[0] }}">
                {% endif %}
                <p>Genre(s) : {{get_film[2]}}, durée : {{get_film[4]}} minute, sortie en : {{get_film[3]}}</p>
                <p>Note : {{get_film[7]}}, nombre de vote : {{get_film[8]}}</p>
                <p>Resumé : {{get_film[10]}}</p>
            </div>
        {% endblock %}
        {% if user_statut == True %}
            <form method="POST">
                <h4>Si tu as vu ce film, tu peux lui attribuer une note</h4>
                <input type="note" name="note_get" required>
                <input type="submit">
            </form>
        {% endif %}
    </center>
</div>

<script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    }

</script>
   
</body>
</html> 